<div class="modal fade" id="search" tabindex="-1" role="dialog" aria-labelledby="searchLabel" aria-hidden="true">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header text-center">
                <h5 class="modal-title" id="exampleModalLabel">جستجو</h5>
            </div>
            <form class="form-inline my-2 my-lg-0" action="/search" method="POST">
                <div class="modal-body">
                    <input class="form-control" type="text" name = "searchField" placeholder="دنبال چی می‌گردی؟" required>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-secondary" data-dismiss="modal">منصرف شدم</button>
                    <button type="submit" class="btn btn-primary">بزن بریم</button>
                </div>
            </form>
        </div>
    </div>
</div>