<!DOCTYPE html>
<html dir="rtl" lang="fa">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <meta http-equiv="X-UA-Compatible" content="ie=edge" />
  <link rel="stylesheet" href="https://bootswatch.com/4/darkly/bootstrap.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
    integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous" />
  <link rel="stylesheet" href="/css/register.css" />
  <link rel="icon" href="/images/general/favicon-16x16.png" type="image/gif" sizes="16x16">
  <link rel="stylesheet" href="/css/setUpFont.css">
  <title>ثبت نام</title>
</head>

<body>
  <div class="container">
    <div class="row mt-5">
      <div class="col-md-6 m-auto">
        <div class="card card-body">
          <h1 class="text-center mb-3">
            <i class="fas fa-user-plus"></i> ثبت نام
          </h1>
          <% include ./partials/messages %>
          <form action="/register" method="POST" enctype="multipart/form-data">
            <div class="form-group">
              <div class="input-group mb-3">
                <div class="custom-file">
                  <input type="file" name="profilePicture" class="custom-file-input" id="inputGroupFile02"
                    accept="application/x-zip-compressed,image/*" />
                  <label class="custom-file-label text-center" for="inputGroupFile02">عکس کاربری</label>
                </div>
              </div>
            </div>

            <div class="form-group">
              <label for="userName">نام کاربری</label>
              <input type="name" id="usreName" name="userName" class="form-control" placeholder="نام را وارد کنید"
                value="<%= typeof userName != 'undefined' ? userName : '' %>" />
            </div>
            <div class="form-group">
              <label for="email">رایانامه</label>
              <input type="email" id="email" name="email" class="form-control" placeholder="رایانامه را وارد کنید"
                value="<%= typeof email != 'undefined' ? email : '' %>" />
            </div>
            <div class="form-group">
              <label for="password">رمز عبور</label>
              <input type="password" id="password" name="password" class="form-control" placeholder="رمز را وارد کنید"
                value="<%= typeof password != 'undefined' ? password : '' %>" />
            </div>
            <div class="form-group">
              <label for="password2">تکرار رمز عبور</label>
              <input type="password" id="password2" name="password2" class="form-control"
                placeholder="رمز را مجددا وارد کنید" value="<%= typeof password2 != 'undefined' ? password2 : '' %>" />
            </div>
            <div class="form-group">
              <label for="commentArea">از خودت بنویس</label>
              <input class="form-control" id="commentArea" name="description" type="text" placeholder="من کیم؟" />
            </div>
            <button type="submit" class="btn btn-primary btn-block">
              ثبت نام
            </button>
          </form>
          <p class="lead mt-4">
            حساب کاربری دارید؟ <a href="/login">ورود</a>
          </p>
        </div>
      </div>
    </div>
  </div>
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
    integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
  </script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js"
    integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous">
  </script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"
    integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous">
  </script>
</body>

</html>